{% extends "base.html" %}

{% block title %}All Stories{% endblock %}

{% block body %}
<table>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Date</th>
    </tr>
    {% for story in stories %}
    <tr>
        <td><a href="stories/{{ story.author.fs_name }}/{{ story.fs_name }}.html">{{ story.title|escape }}</a></td>
        <td><a href="authors/{{ story.author.fs_name }}.html">{{ story.author.name|escape }}</a></td>
        <td>{{ story.date.strftime('%Y-%m-%d %H:%M') }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
