{% extends "base.html" %}

{% block title %}{{ story.title|escape }}{% endblock %}

{% block body %}
<h1>{{ story.title|escape }}</h1>
<h2><a href="{% for _ in range(depth) %}../{% endfor %}authors/{{ story.author.index }}.html">{{ story.author.name|escape }}</a>,
    {{ story.date.strftime('%Y-%m-%d %H:%M') }}</h2>
<h3>
	{% if story.prev %}<a href="{{ story.prev.index }}.html">Previous ({{ story.prev.title|escape }})</a>{% endif %}
	{% if story.prev and story.next %}|{% endif %}
	{% if story.next %}<a href="{{ story.next.index }}.html">Next ({{ story.next.title|escape }})</a>{% endif %}
</h3>
<div>
{{ story.text }}
</div>
{% if story.next %}
	<h3><a href="{{ story.next.index }}.html">Next ({{ story.next.title|escape }})</a></h3>
{% endif %}
{% endblock %}
